<div class='well'>
  <p>
  Powered By <a href="https://github.com/yrgoldteeth/crisco">crisco url shortener</a>
  </p>
  <p>
  Version <%= link_to crisco_version, "https://github.com/yrgoldteeth/crisco/tree/#{crisco_version}" %> |
  All Rites Reversed 2012 Ⓚ | <a href="http://ndfine.com">Nicholas Fine</a>
  </p>
</div>
